[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = { extras = ["all"], version = "*" }
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
sqladmin = "*"
pypdf = "*"

[dev-packages]
pytest = "*"
transliterate = "*"
requests = "*"
beautifulsoup4 = "*"
roman = "*"
lxml = "*"
mypy = "*"
pylint = "*"
hypothesis = "*"
hypothesis-jsonschema = "*"
pydantic-factories = "*"
pytest-sugar = "*"
pytest-cov = "*"
requests-mock = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[pipenv]
allow_prereleases = true
