[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = { extras = ["all"], version = "*" }
sqlalchemy = "*"
alembic = "*"
psycopg2 = "*"
pypdf = "*"
pillow = "*"
fastapi-pagination = "*"
gunicorn = "*"
tenacity = "*"
aiohttp = "==3.8.4"
fastapi-cache2 = { extras = ["redis"], version = "*" }
flower = "*"
bump-pydantic = "*"
pydantic = ">=2.0.0"
polyfactory = "*"
boto3 = "*"
fastapi-admin = "*"
redis = ">=4.2.0rc1"
fastapi-filter = { extras = ["sqlalchemy"], version = "*" }
celery = {extras = ["redis"], version = "*"}
python-telegram-bot = "*"
vk-api = "*"

[dev-packages]
pytest = "*"
transliterate = "*"
requests = "*"
beautifulsoup4 = "*"
roman = "*"
lxml = "*"
mypy = "*"
pylint = "*"
hypothesis = "*"
hypothesis-jsonschema = "*"
pytest-sugar = "*"
pytest-cov = "*"
requests-mock = "*"
selenium = "*"
webdriver-manager = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"

[pipenv]
allow_prereleases = true
